
/* importaciones */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* variables */
:root{
    --VerdeBosque: (#1A5126);
    --VerdeClaro: (#8FBF5F);
    --AzulClaro: (#5CB3FF);
    --Beige: (#F3E9DC);
    --MarrónTierra: (#B18F6A);
    --Blanco: (#FFFFFF);
}